body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

.TeaHeader {
  align-items: center;
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: black;
}

.logo {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.logo img {
  height: 50px;
  align-items: center;
  padding-left: 10px;
  color: seashell;
}

.navs {
  display: inline-block;
  flex-wrap: wrap;
}

.navs span {
  color: seashell;
  text-decoration: underline;
  display: inline-block;
  padding-right: 15px;
}

.main {
  padding-top: 70px;
}

#mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#mission .content {
  align-items: center;
  background-color: black;
  margin: auto;
  width: 100%;
}

h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

#intro {
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.totm {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  margin: auto;
}

.month {
  display: block;
}

.month img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.month span {
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
  display: block;
}

#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin-top: 20px;
}

.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  background-color: black;
  height: 250px;
  margin: 15px 20px;
  opacity: 1;
}

.city p {
  font-size: 20px;
}

.contact {
  height: 200px;
  color: seashell;
  padding: 10px;
}

footer {
  text-align: left;
  font-size: 20px;
  padding-left: 20px;
}
